body {
    font-family: 'Oxygen', sans-serif;
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0;
}

#page-top {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
    margin: 0;
}

.main-center{
    margin: 40px auto;
    max-width: 400px;
    padding: 15px;
}

.icon-label {
    background-color: #eee;
    border: 1px solid #ccc;
    border-left-width: 0;
    padding: 6px 12px;
    font-weight: 600;
    width: 100%;
}

.input-group-addon {
    border-radius: 0;
}

.title {
    margin: 10px 0;
}

.auth-container {
    background-color: #fcfcfc;
    /* shadows and rounded borders */
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.error, .ReactTextField--error {
    color: red;
    font-weight: 700;
}

.masthead {
    padding: 0;
    height: 100%;
    width: 100%;
    display: table;
    background-color: #0c0c0c;
    color: #fcfcfc;
    text-align: center;
}

.masthead .intro-body {
    display: table-cell;
    vertical-align:middle;
}


.btn-circle {
    font-size: 26px;
    width: 55px;
    height: 55px;
    margin-top: 15px;
    line-height: 38px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out;
    color: white;
    border: 2px solid white;
    border-radius: 100% !important;
    background: transparent; }
.btn-circle:focus, .btn-circle:hover {
    color: white;
    outline: none;
    background: rgba(255, 255, 255, 0.1); }

.navbar {
    margin: 0;
}

section {
    height: 100%;
}

.content-section {
    background-color: black;
    color: white;
    padding-top: 150px;
}

.projects-table {
    background: #FCFCFC;
    padding: 20px;
    margin: 0 auto;
}

.create-project-container {
    width: 90%;
    padding: 20px 40px;
}

.table {
    display: table;
    width: 100%;
}

.table-cell {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

.flexbox {
    display: flex;
}

.flex-left-to-right {
    flex-direction: row;
}

.flex-1 {
    flex: 1;
}

.flex-4 {
    flex: 4;
}

.flex-9 {
    flex: 9;
}

.ReactTextField--input {
    font-size: 18px !important;
    width: 100% !important;
    border-radius: 0 !important;
    height: 2.25em;
    padding: 0 0.75em;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
}

input {
    width: 100%;
    font-size: 18px;
}

.Select {
    height: 100%;
}

.Select-control {
    border-radius: 0 !important;
    height: 100% !important;
}

.Select-value {

}

.autocomplete-item {
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

.centered {
    text-align: center;
    margin: 0 auto;
}

/* ** Responsive tiles inspired by Windows 8 ** */
.tile {
    width: 100%;
    height: 100%;
    display: block;
    padding: 5px;
    box-shadow: inset 0 0 1px #FFFFCC;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: transform 0.15s linear;
}

.tile:hover {
    outline: rgba(0, 0, 0, 0.15) solid 3px;
}
.tile:active {
    transform: scale(0.95);
}

.tile--selected {
    border: 3px solid #56c5ff;
    border-right-style: inset;
}
.tile--selected::before {
    content: '\2714';
    width: 0;
    height: 0;
    border-top: 30px solid #56c5ff;
    border-left: 30px solid transparent;
    position: absolute;
    top: 0;
    right: 0;
}
.tile--selected::after {
    content: '\2714';
    text-align: right;
    font-size: 19px;
    line-height: 19px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    top: 0;
    right: 0;
}

.tile-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px;
    height: 35%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.rule-tile {
    color: #FCFCFC;
    position: relative;
}

.rule-title {
    font-size: 1.1em;
    font-weight: 700;
}

.rule-author {
    margin-left: 5px;
    font-size: 0.9em;
}

.rule-description {
    font-size: 0.9em;
    height: 65%;
}

.grid {
    display: grid;
    grid-gap: 10px;
    grid-auto-rows: 140px;
    grid-template-columns: repeat(auto-fill, 260px);
    margin-bottom: 30px;
}
